<div class="card">
  <h1><%=@flat.name%></h1>
  <p><%= @flat.address %></p>
</div>

<div class="card">
  <h2>A bit more about this flat...</h2>
  <p><%= @flat.description %></p>
</div>

<div class="card">
  <h2>Details</h2>
  <p><%= @flat.price_per_night %>$ per night</p>
  <p><%= @flat.number_of_guests %></p>
</div>

<%= link_to 'Edit this flat', edit_flat_path(@flat) %>
<%= link_to 'Back to all flats', flats_path %>
<%= button_to "Destroy this flat", @flat, method: :delete %>
